<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
</style>
</head>
<h1>LIBRARY LOGIN</h1>
<body style="background-color:gray">
<form method = "POST" action = '/loginnext'>
  <label for="libid">LibraryID:</label><br>
  <input type="text" id="libid" name="libid"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"><br>
	<br><input type = "submit"><br>
	<big><p><a href = "NewUserPage.html">Create an account</a></p></big>
</form>
</body>

</html>